@use "./mixins" as *;

.b1 {
  background: red;
  border: 1px solid red;
}

.b2 {
  background: blue;
  border: 1px solid blue;
}

.b3 {
  background: green;
  border: 1px solid green;
}

.b4 {
  background: purple;
  border: 1px solid purple;
}

.rb {
  @include xs {
    border: 2px solid red;
  }
  @include sm {
    border: 2px solid purple;
  }
  @include md {
    border: 2px solid blue;
  }
  @include lg {
    border: 2px solid green;
  }
  @include xl {
    border: 2px solid orangered;
  }
}
