.btn {
  padding: 5px 15px;
  border-radius: 20px;
  transition: opacity 0.2s;
  &:hover {
    transition: opacity 0.2s;
    opacity: 0.8;
  }
}

.btn--primary {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
}

.btn--danger {
  background: var(--red);
  color: #fff;
  border: 2px solid var(--red);
}

.btn--reverse-primary {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.card {
  border-radius: 20px;
  background: #fff;
}

.text-primary {
  color: var(--primary);
}

input {
  padding: 10px 15px;
  border: 2px solid var(--grey-light);
  border-radius: 20px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-error {
  color: var(--red);
  font-weight: 500;
  font-size: 12px;
}
