:root {
  // fonts
  --ff-main: "Montserrat", sans-serif;

  //   colors
  --primary: #ff6348;
  --grey-dark: #2f3542;
  --grey-light: #ecf0f1;
  --text: #222;

  //   other
  --box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-nav: 0 2px 18px 0 rgba(0, 0, 0, 0.22);
}
