@use "../../assets/styles/mixins" as *;

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-auto-columns: repeat(3, 350px);
  gap: 20px;

  @include lg-lt {
    grid-template-columns: repeat(2, 350px);
  }

  @include md-lt {
    grid-template-columns: 350px;
  }

  @include xs {
    grid-template-columns: 1fr;
  }
}

.contentCard {
  max-width: 1130px;
}

.searchBar {
  padding: 10px 15px;
  border: 2px solid var(--grey-light);
  border-radius: 20px;

  input {
    outline: 0;
    border: 0;
  }
}

.small {
  font-size: 14px;
  font-weight: 700;
}
